@import './static/style/theme.scss';

.driftBottle {
    position: relative;
    background-color: skyblue;

    .seaBox {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;

        .seaItem {
            position: absolute;
            bottom: 0;
        }

        .seaOne {
            left: 50%;
            width: 1400rpx;
            height: 1400rpx;
            border-radius: 620rpx;
            background-color: rgba($color: #000000, $alpha: 0.1);
            animation: rotate 8s ease-in-out infinite;
        }

        .seaTwo {
            left: 50%;
            width: 1500rpx;
            height: 1500rpx;
            border-radius: 600rpx;
            background-color: rgba($color: #000000, $alpha: 0.1);
            animation: rotate 13s linear infinite;
        }

        .seaThree {
            left: 50%;
            width: 1600rpx;
            height: 1600rpx;
            border-radius: 600rpx;
            background-color: rgba($color: #000000, $alpha: 0.1);
            animation: rotate 18s ease-in-out infinite;
        }



        @keyframes rotate {
            from {
                transform: translate(-50%, 50%) rotate(0deg);
            }

            to {
                transform: translate(-50%, 50%) rotate(360deg);
            }
        }

        .bottle {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            width: 100rpx;
            height: 100rpx;
            animation: scale 0.5s linear alternate infinite;
        }

        @keyframes scale {
            from {
                transform: translate(-50%, -50%) scale(1);
            }

            to {
                transform: translate(-50%, -50%) scale(1.1);
            }
        }

    }

    .salvage {
        .seaOne {
            animation: rotate 2s ease-in-out infinite;
        }

        .seaTwo {
            animation: rotate 2s linear infinite;
        }

        .seaThree {
            animation: rotate 3s linear infinite;
        }
    }

    .btnBox {
        position: absolute;
        width: 100%;
        bottom: 20rpx;
        left: 0;
        display: flex;
        gap: 20rpx;
        padding: 0 20rpx;
        box-sizing: border-box;

        .btn {
            flex: 1;
            border: 1px solid #ccc;
            color: #ccc;
            text-align: center;
            padding: 10rpx 0;
            border-radius: 10rpx;
        }
    }

    .popup {
        .title {
            font-weight: bold;
            color: #{$theme-primary-color} !important;
            font-size: 40rpx;
            text-align: center;
        }
        .msgList {
            max-height: 800rpx;
            padding: 12rpx 16rpx;
            box-sizing: border-box;
            border-bottom: 1rpx solid #{$theme-text-color} !important;

            .msgItem {
                color: #{$theme-text-color} !important;
                display: flex;
                font-size: 38rpx;

                .msgAuthor {
                    margin-right: 16rpx;
                    white-space: nowrap;
                }

                .msgText {
                    color: #{$theme-primary-color} !important;
                    word-break: break-all;
                }
            }

        }

        .van-popup {
            background-color: unset !important;
            border: 1rpx solid #ccc;
            border-radius: 10rpx;
            width: 80%;
        }

        .van-cell {
            background-color: unset !important;

            .van-field__control {
                color: #{$theme-text-color} !important;
                text-align: center !important;
                box-sizing: border-box;
                padding-left: 12rpx;
            }
        }



        .van-button--default {
            background-color: unset !important;
            border: unset !important;
            border-top: 1rpx solid #{$theme-text-color} !important;
            color: #{$theme-text-color} !important;
            width: 100%;
            border-radius: unset !important;
        }
    }

}