@import './static/style/theme.scss';

.projectMgmt {
    display: flex;
    flex-direction: column;

    .formBox {
        flex: 1;
    }


    .btnBox {
        display: flex;
        column-gap: 30rpx;

        .sumbitBtn {
            flex: 1;

            .van-button {
                width: 100%;
            }
        }
    }


}